#login {
  padding:5%;
  background-color: #66c2ff !important;
  border-radius: 1%;
  padding-left: 1%;
  padding-right: 1%;
}


#logoaccueil{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  width: 7.9em;
}


#logologin{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 4.5em;
  width: 11.85em;
}

#wrapper {
  padding: 2%;
  margin-top: 6%;
  margin-bottom: 1%;
  margin-left: 10%;
  margin-right: 10%;
  /* min-width: 80%; */
  background-color: #ccebff;
  height: 100%;
  background-color: #fcf9f5;
}
