#wrapperadmin {
  margin: 2%;
  margin-top: 7%;
}

#manage {
  background-color: #fcf9f5 !important;
  border-radius: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
}

.table-responsive{
  overflow-x: auto;
  min-width: 90%;

}

 h2{
	text-align: center;
  padding:1.5%;
}

#tablemissionadmin{
    min-width: 98%;
    padding: 3%;
    text-align: center;
    vertical-align: center;
    font-size: 80%;
}

.coltitles{
  background-color:  #66c2ff ;
  font-size: 130%;
  color: white;
}

#mailadm{
  border-top-left-radius: 3em;
}

#modifier{
  border-top-right-radius: 3em;
}

 #mailtd{
   border-left: 0.1em solid #66c2ff;
 }

#modifiertd{
  border-right: 0.1em solid #66c2ff;
}

th {
padding: 0.5%;
vertical-align: center;
}

td{
  border-bottom: 0.1em solid #66c2ff;
  padding: 0.1em;
}

#valider{
    margin: 0.5em;
    background-color:  #b2d8b2;
    color:black;
    display: block;
    width: 90%;
}

#mettreatt{
    margin: 0.5em;
    background-color:  #ffb2b2;
    color:black;
    display: block;
    width: 90%;
}

#rendreadm{
    margin: 0.5em;
    background-color:  #ffe0b2;
    color:black;
    display: block;
    width: 90%;
}
