#wrapperadmin {
  margin: 3%;
  margin-top: 9%;
  max-width: 98%;
}

#manage {
  background-color: #fcf9f5 !important;
  border-radius: 4%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 0.5%;
}

.table-responsive{
  min-width: inherit;

}

 h2{
	text-align: center;
  padding: 0.4em;
}

#tablemissionadmin{
    padding: 2%;
    text-align: center;
    vertical-align: center;
    font-size: 0.85em;
}

.coltitles{
  background-color:  #66c2ff ;
  font-size: 1.3em;
  color: white;
}

#mailadm{
  border-top-left-radius: 2em;
}

#modifier{
  border-top-right-radius: 2em;
}

 #mailtd{
   border-left: 0.1em solid #66c2ff;
 }

#modifiertd{
  border-right: 0.1em solid #66c2ff;
}

th {
padding: 0.5em;
vertical-align: center;
}

td{
  border-bottom: 0.1em solid #66c2ff;
  padding: 0.1em;
}

#valider{
  margin: 0.5em;
    background-color:  #b2d8b2;
    color:black;
    display: block;
    width: 8em;
}

#mettreatt{
    margin: 0.5em;
    background-color:  #ffb2b2;
    color:black;
    display: block;
    width: 8em;
}

#rendreadm{
    margin: 0.5em;
    background-color:  #ffe0b2;
    color:black;
    display: block;
    width: 8em;
}
