form {
  background-color: #66c2ff !important;
  height: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#titlepage{
  color: #ff9900;
}

#addNewElement {
  margin-top: 60px;
  background-color:  #ff9900;
  margin:0 auto;
  display: block;
  margin-bottom: 30px;
  width: 50%;
}


#wrapper {
  padding-top: 20px;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
  min-width: 800px;
  height: 900px;
  background-color: #ccebff;
  min-height: 1000px;
  height: 100%;
  background-color: #fcf9f5;
}
