#formbleu {
  background-color: #66c2ff !important;
  /* height: 100%; */
  /* margin-bottom: 2em; */
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
/*
form {
  height: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
 */

#addNewElement {
  margin-top: 60px;
  background-color:  #ff9900;
  margin:0 auto;
  display: block;
  margin-bottom: 30px;
  width: 50%;
}

#cancelbutton{
  margin-top: 60px;
  margin:0 auto;
  display: block;
  margin-bottom: 30px;
  width: 30%;
}


<<<<<<< HEAD
#wrapper {
  padding-top: 2.5em;
  margin-top: 2.5em;
  margin-left: 12.5em;
  margin-right: 12.5em;
  min-width: 50em;
  height: 900px;
  background-color: #ccebff;
  min-height: 62.5em;
  background-color: white;
=======
#wrapperajm {
  padding: 2em;
  padding-top: 1.5em;
  margin-top: 4.5em;
  margin-bottom: 2em;
  margin-left: 200px;
  margin-right: 200px;
  min-width: 800px;
  height: 900px;
  background-color: #ccebff;
  height: 100%;
  background-color: #fcf9f5;
>>>>>>> cf883474ce6f94e44882b518a268fa9ebcaa7c82
}


.notify-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  position: absolute;
  bottom: 0;
  right: 0;
}

.notify-item {
  width: 250px;
  margin: 5px 10px;
  color: #FFF;
  border-radius: 5px;
}

.notify-item:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px 0 rgb(15, 15, 15);
}

.notify-item > p {
  font-family: 'Lora', serif;
  margin: 10px;
  opacity: .8;
}

.notify-item.success {
  background-color: #008000;
}

.notify-item.error {
  background-color: rgba(203, 100, 94, 0.8);
}

.notify-item.info {
  background-color: rgba(33, 150, 243, 0.8);
}

.notify-title {
  font-weight: 700;
}

.form-control{
  font-size: 0.4em;
}
