#wrapperam {
  padding: 2%;
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 3%;
  margin-right: 3%;
  min-width: 90%;
  background-color: #ccebff;
  height: 100%;
  background-color: #fcf9f5;
}

#titlecompte{
  padding-bottom: 1%;
}
