#choixcriteres{
  margin-right: -4%;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
}

.table-responsive{
  overflow-x: auto;
  min-width: inherit;

}

#devisodm{
    margin-top: 3%;
    margin-left: 5.5%;
    background-color:  #ff9900;
    display: block;
    width: 40%;
}

.titrecol{
  min-width: 5em;
  font-size: 1vmax;
}

#tablemission{
    text-align: center;
    vertical-align: center;
    font-size: 1vw;
}

#whole_page{
  width: 100%;
  margin-top: 6%;
}

.card {
  background-color: #66c2ff !important;
  font-size: 0.8em;
}

th {
vertical-align: center;
margin-left: 1%;
}

#typedemission{
  max-height: 1em;
  min-width: 10vmax;
}

.card-header {
  text-align: center;
  background-color: white  !important;
  font-size: 1.3em;
}

.btn.btn-md.btn-block{

}

#cancelbutton{
  background-color: red;
  color: white;
  text-align: center;
  width: 100%;
  margin-left: -4%;
  font-size: 100%;
  display: block;
}

#addNewElementrm {
  background-color:  #ff9900;
  margin-left: 1%;
  width: 100%;
  font-size: 100%;
  text-align: center;
  display: block;
}

#addNewElementrmm {
  background-color:  #ff9900;
  margin-left: 1%;
  width: 100%;
  font-size: 100%;
  text-align: center;
  display: block;
  margin-bottom: 3%;
}
