#choixcriteres{
  margin-right: -1.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.table-responsive{
  overflow-x: auto;
  min-width: inherit;

}

#devisodm{
    margin-top: 1em;
    margin-left: 3.7em;
    background-color:  #ff9900;
    display: block;
    width: 4em;
}

.titrecol{
  max-height: 0.5em;
  min-width: 0em;
}

#tablemission{
  padding: 1.5em;
    text-align: center;
    vertical-align: center;
    font-size: 0.7em;
}

#whole_page{
  width: 79em;
  margin-top: 4.5em;
}

table.table-striped {
}

.form-control{
  font-size: 0.4em;
}

.card {
  background-color: #66c2ff !important;
  font-size: 0.8em;
}

th {
padding: 0.5em;
vertical-align: center;
}

option {
  font-size: 0.8em;
}

.card-header {
  text-align: center;
  background-color: white  !important;
  font-size: 1.3em;
}

.btn.btn-md.btn-block{
  padding: 0.2em;
}

#cancelbutton{
  background-color: red;
  color: white;
}
