#navigation {
  background-color: #008ae6;
  position: fixed;
  top:0;
  z-index:2;
  overflow: hidden;
  width: 100%;
  padding : 0;
}

.nav-link {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  color: white !important;
  list-style-type: none;
  font-weight: 300;
}

.active {
    background-color: #66c2ff !important;
    color: black !important;
    font-weight: bold;
}


.nav-item.active > .nav-link {
    color: black !important;
    font-weight: bold;
}

.nav-item:hover > .nav-link {
    color: black !important;
    font-weight: bold;
}

.nav-item {
width: 300px;
}

.nav-item:hover {
  background-color: #ff9900 !important;
}



#title {
  margin: 0;
  margin-right: 30px;
  color: white;
  font-size: 25px;
  line-height: 32px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
