#navigation {
  background-color: #008ae6;
  position: fixed;
  top:0;
  z-index:3;
  overflow: hidden;
  width: 79em;
  padding : 0;
  height: 2.5em;
}

#logoaccueil{
    height: 3em;
    width: 7.9em;
}
#navigation{
  background: rgb(30,30,30);
  color: white;
  font-family: sans-serif;
  height: 4em;

}
#navigation .container-navbar{
  list-style-type: none;
  position: absolute;
  left: 0em;
  right: 0em;
  bottom: -0.35em;
}

#navigation .li-logo{
  height: auto;
  width: 10em;
  float: left;
  -webkit-transition: 0.5s ease;
  font-size: 20px;
}
#navigation .li-option{
  margin-top: 1em;
  height: auto;
  float: left;
  -webkit-transition: 0.5s ease;
  cursor: pointer;
  font-size: 1.3em;
}
#navigation .li-option-right{
  margin-top: 1em;
  height: auto;
  float: right;
  -webkit-transition: 0.5s ease;
  cursor: pointer;
  font-size: 1.3em;
}
#navigation .container-navbar a{
  color:white;
}

#navigation .container-navbar div:hover{
    text-shadow: 0em -0.125em 0em rgba(0,0,0,1), 0 0 1.5625em rgba(102,194,255,0.8),0 -0.25em 2.1875em rgba(102,194,255,0.5);
  }

  #navigation .container-navbar .active{
      text-shadow: 0em -0.125em 0em rgba(0,0,0,1),0 0 1.5625em  rgba(102,194,255,0.8),0 -0.25em 2.1875em rgba(102,194,255,0.5);
    }

#navigation .container-navbar div:nth-of-type(1):hover ~ .underbar{
    left: 0;
    width: 40px;
    background: black;
  }
#navigation .container-navbar div:nth-of-type(2):hover ~ .underbar{
    left: 50px;
    width: 40px;
    background: black;
  }
#navigation .container-navbar div:nth-of-type(3):hover ~ .underbar{
    left: 100px;
    width: 40px;
    height: 1px;
    background: black;
    box-shadow: 0 0 10px rgba(70,250,250,1);
  }
#navigation .container-navbar div:nth-of-type(4):hover ~ .underbar{
    left: 150px;
    width: 50px;
    height: 1px;
    background: black;
    box-shadow: 0 0 10px rgba(70,250,250,1);
  }
